body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.navbar {
  position: flex;
  height: 3%;
  width: 95rem;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 1rem;
  background-color: #07f8c4;
  border: 1px solid #07f8c4;
}

.navbar p, .navbar a {
  font-size: 0.75rem;
  margin-right: 1rem;
  display: inline-block;
  background-color: white;
}

.user-profile {
  grid-row: 1 / span 1; /* Span 1 row starting from row 1 */
  grid-column: 1 / span 3;
  border: 1px solid #000605;
  width: 100%;
  grid-gap: 2rem;
  margin-bottom: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 2rem;
  padding-top: 0rem;
}

.contacts {
  grid-row: 1 / span 4; /* Span 4 rows starting from row 1 */
  grid-column: 4/ span 1;
  border-top: 1px solid #000605;
  border-left: 1px solid #000605;
  border-right: 1px solid #000605;
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #000605;
}
.contact-user-card {
  border: 1px solid #000605;
  margin: 1rem;
}

.posts {
  grid-row: 2 / span 3; /* Span 3 rows starting from row 2 */
  grid-column: 1 / span 2;
  border: 1px solid #000605;
  align-items: center;
  text-align: center;
  grid-gap: 2rem;
}


.post {
  margin : 2rem;
  border: 1px solid #000605;
  padding-bottom: 1rem;
}

.contact-user-card img, .contact-user-info {
  display: inline-block;
  padding-right: 1rem;
}

.contacts h1 {
  text-align: center;
}

.post p {
  font-size: 0.75rem;
}

.contact-user-message {
  font-size: 0.75rem;
}

.App {
  height: 100%;
  width: 100%;
  display: inline;
}

.user-profile .contact-user-card {
  margin: 0rem;
  padding-bottom: 3rem;
}

.userprofile .contacts {
  display: inline-block;

}

.userprofile {
  grid-row: 1 / span 4; /* Span 1 row starting from row 1 */
  grid-column: 1 / span 3;
}